<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602688246846-qrh1cc9j0t3jp82esmfohto1npg4fajn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602688246846-qrh1cc9j0t3jp82esmfohto1npg4fajn</string>
	<key>API_KEY</key>
	<string>AIzaSyDSEhOuurCP73LiF9FHZPjBPP2-dl3c2Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>602688246846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vkproj.doIt1</string>
	<key>PROJECT_ID</key>
	<string>doit-d4f58</string>
	<key>STORAGE_BUCKET</key>
	<string>doit-d4f58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602688246846:ios:ac3f4f04a7c992f0e22d6f</string>
	<key>DATABASE_URL</key>
	<string>https://doit-d4f58-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>